<div class="aboutContent">
  <img src="../../assets/cccircular.svg"> 
  <p>
    Soy desarrolladora Front-End y bachiller en Administración de Negocios
    internacionales. Este background me permitió desarrollar habilidades de
    arquitectura y gestión de proyectos. Así como, trabajar en el área de compras
    donde desarrollé una gran habilidad de empatizar con mis usuarios e
    identificar sus necesidades. Soy una persona sumamente curiosa, me apasiona
    crear soluciones y generar conexiones con otras personas. También, aprendí la
    importancia de la organización, comunicación y del "nunca suponer".
  </p>
</div>

