.grid-container {
  display: grid;
  grid-template-columns: 1fr 2fr; /* 1 parte de 1/3 y 2 partes de 2/3 */
  gap: 20px;
  align-items: center;
  justify-items: center;
}
.sidebar{
  margin-left:15%;
  background-color:#C3A5CE ;
  border-radius: 0px 0px 200px 200px;
}
.imgAlissa{
  border-radius: 0px 0px 200px 200px;
}
.main-content{
  font-family: 'Courier Prime', monospace;
}
.titleName{
  font-size: 30px;
  text-align: center;
}
.descriptionName{
  text-align: center;
}