<div class="containerProjects">
  <h2>PROYECTOS</h2>
  <div class="containerAllCards">
    <div class="text-center containerCard" style="width: 18rem">
      <div>
        <h5 class="card-title text-center titleCard">Pokedex</h5>
        <img
          src="../../assets/projects/pokedex.webp"
          class="card-img-top img-fluid"
          alt="Pokedex"
        />
        <div class="containerBtns">
          <a target="_blank" href="https://alissasalazar.github.io/DEV004-data-lovers/" class="btn">Demo</a>
          <a target="_blank" href="https://github.com/alissasalazar/DEV004-data-lovers" class="btn">Repo</a>
        </div>
      </div>
      <div class="card-body">
        <p class="card-text">Pokedex de pokemones de la generación Kanto y Johto.</p>
      </div>
    </div>
    <div class="text-center containerCard" style="width: 18rem">
      <div>
        <h5 class="card-title text-center titleCard">Leeme</h5>
        <img
          src="../../assets/projects/leeme.webp"
          class="card-img-top img-fluid"
          alt="Leeme"
        />
        <div class="containerBtns">
          <a target="_blank" href="https://leemesocial.netlify.app/" class="btn">Demo</a>
          <a target="_blank" href="https://github.com/alissasalazar/DEV004-social-network" class="btn">Repo</a>
        </div>
      </div>
      <div class="card-body">
        <p class="card-text">Red social para los apasionados de la lectura.</p>
      </div>
    </div>
    <div class="text-center containerCard" style="width: 18rem">
      <div>
        <h5 class="card-title text-center titleCard">Lista de tareas</h5>
        <img
          src="../../assets/projects/listadetareas.webp"
          class="card-img-top img-fluid"
          alt="Lista de tareas"
        />
        <div class="containerBtns">
          <a target="_blank" href="https://listatareasreactalissa.netlify.app/" class="btn">Demo</a>
          <a target="_blank" href="https://github.com/alissasalazar/Lista-Tareas" class="btn">Repo</a>
        </div>
      </div>
      <div class="card-body">
        <p class="card-text">Lista de tareas diarias</p>
      </div>
    </div>
    <div class="text-center containerCard" style="width: 18rem">
      <div>
        <h5 class="card-title text-center titleCard">Calculadora</h5>
        <img
          src="../../assets/projects/calculadora.webp"
          class="card-img-top img-fluid"
          alt="Calculadora"
        />
        <div class="containerBtns">
          <a target="_blank" href="https://calculadora-react-alissa.netlify.app/" class="btn">Demo</a>
          <a target="_blank" href="https://github.com/alissasalazar/Calculadora-React" class="btn">Repo</a>
        </div>
      </div>
      <div class="card-body">
        <p class="card-text">Calculadora común.</p>
      </div>
    </div>
    <div class="text-center containerCard" style="width: 18rem">
      <div>
        <h5 class="card-title text-center titleCard">Banbif</h5>
        <img
          src="../../assets/projects/banbif.webp"
          class="card-img-top img-fluid"
          alt="Banbif"
        />
        <div class="containerBtns">
          <a target="_blank" href="https://banbif.netlify.app/" class="btn">Demo</a>
          <a target="_blank" href="https://github.com/alissasalazar/pruebaBanbif" class="btn">Repo</a>
        </div>
      </div>
      <div class="card-body">
        <p class="card-text">Maquetando una pantalla de Banbif.</p>
      </div>
    </div>
    <div class="text-center containerCard" style="width: 18rem">
      <div>
        <h5 class="card-title text-center titleCard">Maquetado</h5>
        <img
          src="../../assets/projects/maqueta.webp"
          class="card-img-top img-fluid"
          alt="Maqueta"
        />
        <div class="containerBtns">
          <a target="_blank" href="https://maquetacionprueba1.netlify.app/" class="btn">Demo</a>
          <a target="_blank" href="https://github.com/alissasalazar/Maquetacion-Begginer" class="btn">Repo</a>
        </div>
      </div>
      <div class="card-body">
        <p class="card-text">Maquetando con react.</p>
      </div>
    </div>
    <div class="text-center containerCard" style="width: 18rem">
      <div>
        <h5 class="card-title text-center titleCard">Burger Queen</h5>
        <img
          src="../../assets/projects/burgerqueen.webp"
          class="card-img-top img-fluid"
          alt="Maqueta"
        />
        <div class="containerBtns">
          <a target="_blank" href="https://burgerqueenalissa.netlify.app/" class="btn">Demo</a>
          <a target="_blank" href="https://github.com/alissasalazar/DEV004-BURGER-QUEEN--CLIENTE" class="btn">Repo</a>
        </div>
      </div>
      <div class="card-body">
        <p class="card-text">Aplicación web para tomar pedidos.</p>
      </div>
    </div>
    <div class="text-center containerCard" style="width: 18rem">
      <div>
        <h5 class="card-title text-center titleCard">Estetica Leo</h5>
        <img
          src="../../assets/projects/esteticaleo.webp"
          class="card-img-top img-fluid"
          alt="Maqueta"
        />
        <div class="containerBtns">
          <a target="_blank" href="https://esteticaleo.netlify.app/" class="btn">Demo</a>
        </div>
      </div>
      <div class="card-body">
        <p class="card-text">Aplicacion web para reserva de citas para una estetica.(Sigue en proceso)</p>
      </div>
    </div>
  </div>
</div>
