<div>
  <h2>TECNOLOGÍAS</h2>
    <div class="contentTecnologies">
      <div class="contentTecnology"><img src="../../assets/tecnologies/angularjs.svg"></div>
      <div class="contentTecnology"><img src="../../assets/tecnologies/bootstrap.svg"></div>
      <div class="contentTecnology"><img src="../../assets/tecnologies/css3.svg"></div>
      <div class="contentTecnology"><img src="../../assets/tecnologies/express.svg"></div>
      <div class="contentTecnology"><img src="../../assets/tecnologies/figma.svg"></div>
      <div class="contentTecnology"><img src="../../assets/tecnologies/firebase.svg"></div>
      <div class="contentTecnology"><img src="../../assets/tecnologies/git.svg"></div>
      <div class="contentTecnology"><img src="../../assets/tecnologies/github.svg"></div>
      <div class="contentTecnology"><img src="../../assets/tecnologies/html5.svg"></div>
      <div class="contentTecnology"><img src="../../assets/tecnologies/javascript.svg"></div>
      <div class="contentTecnology"><img src="../../assets/tecnologies/jest.svg"></div>
      <div class="contentTecnology"><img src="../../assets/tecnologies/jira.svg"></div>
      <div class="contentTecnology"><img src="../../assets/tecnologies/mongodb.svg"></div>
      <div class="contentTecnology"><img src="../../assets/tecnologies/nodejs.svg"></div>
      <div class="contentTecnology"><img src="../../assets/tecnologies/react.svg"></div>
      <div class="contentTecnology"><img src="../../assets/tecnologies/sass.svg"></div>
      <div class="contentTecnology"><img src="../../assets/tecnologies/slack.svg"></div>
      <div class="contentTecnology"><img src="../../assets/tecnologies/trello.svg"></div>
      <div class="contentTecnology"><img src="../../assets/tecnologies/typescript.svg"></div>
    </div>

