
h2{
  text-align: center;
  font-family: 'Courier Prime', monospace;
  color: #F596A2;
  font-size: 50px;
}
.contentTecnologies{
  display: grid;
  grid-template-columns: repeat(4,1fr);
  grid-template-rows: repeat(5,80px);
  gap: 20px;
  margin: 4%;
}
img{
  max-width: 8em;
}

